In [2]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

/Users/chasereuter/my_ml_service/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [10]:
# df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
df = pd.read_csv('https://raw.githubusercontent.com/chasereuter1/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

In [13]:
df.shape

(32561, 15)

In [15]:
x_cols= [c for c in df.columns if c!="income"]
X = df[x_cols]
y = df["income"]
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
#split data into train/test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .3, random_state = 3)

# Data Preprocessing

In [21]:
#fill in missing values with the mode (even numerical for now)
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)

In [33]:
X_train[0:3]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
21591,43,3,281138,11,9,5,6,1,4,0,0,0,40,38
23500,31,3,241885,11,9,2,7,0,4,1,0,0,40,38
30902,18,3,174926,6,5,4,7,3,4,1,0,0,15,38

In [25]:
#convert categoricals to numeric
encoders = {}
for column in ['workclass','education','marital-status','occupation',
               'relationship','race','sex','native-country']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

# Model Fitting

In [27]:
#random forest
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train,y_train)

In [28]:
#extra trees
et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train,y_train)

In [34]:
#save preprocessing objects and models
joblib.dump(train_mode, "./train_mode.joblib",compress=True)
joblib.dump(encoders, "./encoders.joblib",compress=True)
joblib.dump(rf, "./random_forest.joblib",compress=True)
joblib.dump(et, "./extra_trees.joblib",compress=True)

['./extra_trees.joblib']